.topbar {
    background-color: lightgrey;  
    
}   

.topbar li {
    list-style-type: none;
    display: inline;
}


.market li {
    list-style-type: none;
    display: inline;

}

.map li {
    list-style-type: none;
    display: inline;
    
}

.textalign {
    left: 15px;

}